@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #020813;
}
@keyframes animationCall {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .animation-call {
    animation: animationCall 0.7s ease-in-out infinite;
  }
  .animation-call2:hover {
    transform: scale(1.05);
    transition: ease-in-out;
    transition-duration: 0.3s;
  }
  @keyframes colorWave {
    0% {
      background-position: 0% 50%;
    }
    
    100% {
        background-position: 100% 50%;
    }
  }
  
  .wave-text {
    background: linear-gradient(to right, #eedfdf,#eedfdf, rgb(190, 172, 8),#c7b405,#c7b405, #eedfdf,#eedfdf); /* Replace with your desired colors */
    background-size: 200% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: colorWave 3s ease-in-out infinite linear; /* Adjust duration as needed */
  }
  .wave-text2 {
    background: linear-gradient(to right, #eedfdf,#eedfdf, #289bc9, #289bc9, #19bdfd, #eedfdf,#eedfdf); /* Replace with your desired colors */
    background-size: 200% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: colorWave 3s ease-in-out infinite linear; /* Adjust duration as needed */
  }
 